.root {
  position: relative;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  width: 300px;
  border-radius: 10px;
  font-size: 16px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.closedInput {
  width: 25px;
  opacity: 0.3;
  position: absolute;
  right: 13px;
  top: 11px;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
